@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-transparent;
  }
}

#head-gradient {
  background: "#5FA8D3";
}

.cl-userButtonPopoverCard {
  margin-top: 10px;
  /* padding: 16px 0 !important; */
}

.cl-userButtonPopoverFooter {
  display: none;
}

.cl-internal-b3fm6y {
  display: none;
}
